@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.286 0.048 305.783);
  --foreground: oklch(0.824 0.038 307.953);
  --muted: oklch(0.336 0.026 306.889);
  --muted-foreground: oklch(0.775 0.025 307.417);
  --popover: oklch(0.258 0.041 305.875);
  --popover-foreground: oklch(0.913 0.018 308.236);
  --card: oklch(0.267 0.043 305.842);
  --card-foreground: oklch(0.869 0.028 308.104);
  --border: oklch(0.341 0.036 306.555);
  --input: oklch(0.368 0.04 306.527);
  --primary: oklch(0.571 0.103 306.383);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.787 0.032 308.003);
  --secondary-foreground: oklch(0.256 0.026 307.341);
  --accent: oklch(0.415 0.077 305.525);
  --accent-foreground: oklch(0.948 0.011 307.649);
  --destructive: oklch(0.629 0.205 30.085);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.571 0.103 306.383);
  --chart-1: oklch(0.571 0.103 306.383);
  --chart-2: oklch(0.787 0.032 308.003);
  --chart-3: oklch(0.415 0.077 305.525);
  --chart-4: oklch(0.813 0.028 308.074);
  --chart-5: oklch(0.566 0.114 306.11);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
